body{
    background-image: url(../images//fokirlal-background-img-black_clipdrop-relight.jpg);
    background-attachment: fixed;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}


#preloader{
  background: #000 url(images/loader-1.gif) no-repeat center center;
  background-size: 80%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}



/* NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR - NAVBAR */
nav{
    font-family: 'Stolzl';
    font-style: normal;
    height: 80px;
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0px 30px;
}
.nav-logo-img{
    width: 80px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0px 10px;
    letter-spacing: 1px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}
nav .menu-btn i{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#nav-bar-click{
    display: none;
}

.navbar-items{
    margin-top: 12px;
    margin-right: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #999999;
}
/* btn btn btn */
.nav-sponsor-btn{
    font-weight: 500;
    font-size: 13.5px;
    line-height: 120%;
    color: black;
    padding: 10px 24px;
    gap: 24px;
    /* background: #D96A2C; */
    background-color: white;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.nav-sponsor-btn:hover{
  color: white;
  background-color: black;
  border: 1px solid white;
  /* padding: 10px 30px; */
}

@media (max-width: 940px){
    nav .menu-btn i{
        display: block;
    }
    
    nav ul{
        position: fixed;
        top: 100px;
        left: -100%;
        background-color: none;
        z-index: 1;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all .4s ease;
        background-color: rgba(0, 0, 0, 0.823);
    }
    #nav-bar-click:checked ~ ul{
        left: 0;
    }
   
    nav ul li{
        margin: 40px 0px;
        margin-right: 30px;
        background-color: rgba(0, 0, 0, 0.663);
        border-bottom: 1px solid rgba(245, 245, 245, 0.464);
        padding: 10px 0px;
        border-radius: 20px;
    }
    nav ul li a{
        display: block;
    }
    .navbar-items{
        margin-top: 0px;
        margin-right: 30px;
    }

}










.music-page-header{
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}








/* PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC - PC */
@media screen and (min-width: 1200px) {

    .body{
        background-color: black;
    }

    .music-play-container{
        text-align: center;
    }
    .music-page-musics{
        /* width: 465px;
        height: 260px; */
        width: 100%;
        /* height: 220px; */
        height: 145%;
    }
    .music-page-shorts{
        width: 100%;
        height: 350px;
    }


    .music-page-part1{
        display: grid;
        grid-template-columns: 30% 5% 30% 5% 30%;
        margin-bottom: 100px;
    }
    .music-page-part2{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 30% 5% 30% 5% 30%;
        margin-bottom: 100px;
    }
    .music-page-part3{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 15% 2% 15% 2% 15% 2% 15% 2% 15% 2% 15%;
        
    }
    .music-page-part4{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 30% 5% 30% 5% 30%;
        margin-bottom: 100px;
    }
    .music-page-part5{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 30% 5% 30% 5% 30%;
        margin-bottom: 100px;
    }
    
}

/* PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE - PHONE */
@media screen and (max-width: 1200px) {

    .body{
        background-color: black;
    }



    .music-play-container{
        text-align: center;
    }

    .music-page-musics{
       width: 100%;
       height: 220px;
    }
    .music-page-shorts{
        width: 50%;
        height: 360px;
    }


    .music-page-part1{
        
    }
    .music-page-part2{
        
    }
    .music-page-part3{
        
        
    }


    
}


































/*footer*/
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  /* color: #ff5e14; */
  color: white;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 100px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  /* background: #3B5998; */
  background: none;
}
.twitter-bg{
  /* background: #55ACEE; */
  background: none;
}
.google-bg{
  /* background: #DD4B39; */
  background: none;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  /* background: #ff5e14; */
  background: white;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  /* color: #ff5e14; */
  color: white;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    /* background: #ff5e14; */
    background: white;
    padding: 13px 20px;
    /* border: 1px solid #ff5e14; */
    border: 1px solid white;
    top: 0;
}
.subscribe-form button i {
  color: gray;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  /* color: #ff5e14; */
  color: white;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  /* color: #ff5e14; */
  color: white;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

